/*  your css code here. If applicable */

#top{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
}

.code-container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	gap:1rem;
	flex-wrap:wrap;
	
}
.code{
	height:50px;
	width:50px;
	text-align:center;
}